/* background image */
body {
    background: url('../images/space-background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
}

#main-header {
    margin: 3% 0;
    text-align: center;
    font-size: 300%;
    color: rgb(241, 241, 241);
}

/* Link to Main Page */
#home-link {
    background-color: rgb(24, 24, 24, 0.8);
    font-size: 200%;
    text-decoration: none;
    color: rgb(128, 128, 255);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#casw-container {
    color: rgb(241, 241, 241);
    border: solid 2pt rgb(241, 241, 241);
    background-color: rgb(24, 24, 24, 0.8);
    padding: 3%;
}

#date-container h3 {
    margin: 0;
}

#date-container {
    /* margin: 8% 0; */
}

