
/* background image */
body {
    background: url('../images/space-background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
}

#main-header {
    margin: 10% 0;
    text-align: center;
    font-size: 300%;
    color: rgb(241, 241, 241);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#games-section {
    background-color: rgb(24, 24, 24, 0.8);
    width: 50%;
    border-radius: 10%;
    border: solid rgb(153, 153, 153);
}

#games-header {
    font-size: 200%;
    padding-left: 5%;
    color: rgb(241, 241, 241);
}

#games-list {
    color: rgb(241, 241, 241);
    list-style-type: none;
}

#games-list li {
    margin: 5% 10%;
}


/* center anything within this container */
/* display: flex;
align-items: center;
justify-content: center; */